cgpe_report_generator.json
{
  "name": "CGPE — Report Generator",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "operation"
            },
            {
              "name": "params"
            }
          ]
        }
      },
      "id": "1fea3e4b-b81c-4559-a908-9d44fa3acb92",
      "name": "Report Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nlet p = inp.params;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { p = {}; } }\np = p || {};\nconst esc = (s) => String(s || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\nconst q = {};\nif (p.phoneLast10) q.phoneLast10 = String(p.phoneLast10).replace(/\\D/g, '').slice(-10);\nelse if (p.clientName) q.name = { $regex: esc(String(p.clientName).trim()).split(/\\s+/).join('.*'), $options: 'i' };\nelse if (p.groupName) q.groupName = String(p.groupName);\nelse q.__invalid = true;\nreturn [{ json: { seedQuery: q, requested: p } }];"
      },
      "id": "67798dee-0fd7-46e7-a9e2-88a18af0f171",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "collection": "clients",
        "options": {
          "limit": 5
        },
        "query": "={{ JSON.stringify($json.seedQuery) }}"
      },
      "id": "1c17de6c-774e-4396-92fd-88877190b4ee",
      "name": "Find Seed Client",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        448,
        112
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const seeds = $input.all().map(i => i.json).filter(j => j && j.name);\nif (!seeds.length) return [{ json: { __error: 'No client found for this request. Check the name or phone number.' } }];\nconst seed = seeds.find(s => s.groupName) || seeds[0];\nconst esc = (s) => String(s || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\nlet famQuery, extraNames = [seed.name];\nif (seed.groupName && String(seed.groupName).trim()) {\n  famQuery = { groupName: seed.groupName };\n} else if (Array.isArray(seed.familyMembers) && seed.familyMembers.length) {\n  extraNames = [seed.name].concat(seed.familyMembers.map(f => f.name).filter(Boolean));\n  famQuery = { name: { $in: extraNames } };\n} else {\n  famQuery = { name: { $regex: esc(seed.name), $options: 'i' } };\n}\nconst extraOr = [{ clientName: { $in: extraNames } }];\nif (seed.phoneLast10) extraOr.push({ phoneLast10: seed.phoneLast10 });\nreturn [{ json: { famQuery, extraQuery: { $or: extraOr }, familyHead: seed.name, groupName: seed.groupName || null, phoneLast10: seed.phoneLast10 || null } }];"
      },
      "id": "c7d041d0-f6c5-474b-a3bc-67d2fd8736df",
      "name": "Build Family Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "collection": "clients",
        "options": {
          "limit": 300
        },
        "query": "={{ JSON.stringify($json.famQuery || {_id: null}) }}"
      },
      "id": "7d0241fb-3e43-421d-bc71-d0c3b4dd2300",
      "name": "Find Family Rows",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        896,
        112
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "policies",
        "options": {
          "limit": 50
        },
        "query": "={{ JSON.stringify($('Build Family Query').first().json.extraQuery || {_id: null}) }}"
      },
      "id": "7954149a-99bf-4b73-be79-c15f6fbc6b37",
      "name": "Find Extra Policies",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        1120,
        112
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "wa_bot_config",
        "options": {
          "limit": 1
        },
        "query": "{\"botId\":\"cgpe_brain_v2\"}"
      },
      "id": "4296b4b5-53c5-4287-9090-66789f84bd23",
      "name": "Load Report Config",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        1344,
        112
      ],
      "executeOnce": true,
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fq = $('Build Family Query').first().json;\nif (fq.__error) return [{ json: { __error: fq.__error } }];\nconst cfg = $('Load Report Config').first().json || {};\nconst now = new Date();\nconst nowYear = now.getFullYear();\nconst mmm = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst licRows = $('Find Family Rows').all().map(i => i.json).filter(j => j && j.policyNo);\nconst extraRows = $('Find Extra Policies').all().map(i => i.json).filter(j => j && j.policyNo);\nif (!licRows.length && !extraRows.length) return [{ json: { __error: 'No policies found for this family.' } }];\nconst planDocs = $('Find Plan Library').all().map(i => i.json).filter(j => j && (j.plan_table || j.docType));\nconst planMeta = planDocs.find(d => d.docType === 'meta') || {};\nconst DEF = planMeta.defaults || { fallback_method: 'endowment_par', fallback_srb_rate: 48, fallback_fab_rate: 0 };\nconst planMap = {};\nfor (const d of planDocs) if (d.plan_table) planMap[String(d.plan_table)] = d;\n\nconst runCalc = (method, params, inp) => {\n  const srb = Number(params.srb_rate) || 0, fab = Number(params.fab_rate) || 0, ga = Number(params.ga_rate) || 0;\n  const sched = params.survival_schedule || null;\n  let survivalTotal = 0, sumPct = 0;\n  if (Array.isArray(sched)) for (const s of sched) { const pct = Array.isArray(s) ? s[1] : (s.pct || 0); survivalTotal += pct * inp.BSA; sumPct += pct; }\n  const fabAmt = (fab / 1000) * inp.BSA;\n  const accrued = (srb / 1000) * inp.BSA * inp.years_elapsed;\n  if (method === 'term') return { maturity: null, death: inp.BSA, basis: 'guaranteed' };\n  if (method === 'endowment_par' || method === 'wholelife_endowment_par') {\n    const srbFull = (srb / 1000) * inp.BSA * inp.term;\n    const saDeath = Math.max(1.25 * inp.BSA, 7 * inp.AP);\n    const floor = Math.max(saDeath, 1.05 * inp.premiums_paid);\n    return { maturity: Math.round(inp.BSA + srbFull + fabAmt), death: Math.round(floor + accrued + fabAmt), postMaturityCover: method === 'wholelife_endowment_par' ? inp.BSA : 0, basis: 'guaranteed+illustrated' };\n  }\n  if (method === 'moneyback_par' || method === 'child_par') {\n    const srbFull = (srb / 1000) * inp.BSA * inp.term;\n    const matPct = 1 - sumPct;\n    return { maturity: Math.round(matPct * inp.BSA + srbFull + fabAmt), death: Math.round(inp.BSA + accrued + fabAmt), survivalTotal: Math.round(survivalTotal), basis: 'guaranteed+illustrated' };\n  }\n  if (method === 'wholelife_income_par') {\n    const srbFull = (srb / 1000) * inp.BSA * (inp.ppt || inp.term);\n    return { maturity: Math.round(inp.BSA + srbFull + fabAmt), death: Math.round(inp.BSA + (srb / 1000) * inp.BSA * Math.min(inp.years_elapsed, inp.ppt || inp.term) + fabAmt), income: Math.round(0.08 * inp.BSA), basis: 'guaranteed+illustrated' };\n  }\n  if (method === 'nonpar_guaranteed') {\n    const gaFull = (ga / 1000) * inp.BSA * inp.term;\n    return { maturity: Math.round(inp.BSA + gaFull), death: Math.round(inp.BSA + (ga / 1000) * inp.BSA * inp.years_elapsed), basis: 'guaranteed' };\n  }\n  return null;\n};\n\nconst modeX = (m) => { m = String(m || '').toLowerCase(); if (m.startsWith('year')) return 1; if (m.startsWith('half')) return 2; if (m.startsWith('quat') || m.startsWith('quar')) return 4; if (m.startsWith('month')) return 12; return 0; };\nconst matLabel = (d) => { if (!d) return '-'; const dt = new Date(d); if (isNaN(dt)) return String(d); return mmm[dt.getMonth()] + '-' + String(dt.getFullYear()).slice(2); };\nconst ageOf = (dob) => { if (!dob) return null; const d = new Date(dob); if (isNaN(d)) return null; let a = nowYear - d.getFullYear(); const md = new Date(now); md.setFullYear(d.getFullYear()); if (md < d) a--; return (a > 0 && a < 110) ? a : null; };\n\nconst pols = [];\nfor (const r of licRows) {\n  const single = String(r.mode || '').toLowerCase().startsWith('single') || Number(r.ppt) === 1;\n  const mat = r.maturityDate ? new Date(r.maturityDate) : null;\n  let status = 'In-force';\n  if (r.isActive === false) status = 'Lapsed';\n  else if (mat && !isNaN(mat) && mat < now) status = 'Matured';\n  const x = modeX(r.mode);\n  const term = Number(r.term) || 0;\n  const ppt = Number(r.ppt) || term;\n  const start = r.commencementDate ? new Date(r.commencementDate) : null;\n  let yearsElapsed = (start && !isNaN(start)) ? Math.floor((now - start) / 31557600000) : term;\n  yearsElapsed = Math.max(0, Math.min(yearsElapsed, term));\n  if (status === 'Matured') yearsElapsed = term;\n  const perYear = single ? 0 : (Number(r.premium) || 0) * (x || 1);\n  const premiumsPaid = single ? (Number(r.premium) || 0) : perYear * Math.min(yearsElapsed, ppt);\n  const tbl = String(r.tableNo || '-');\n  const plan = planMap[tbl];\n  let planName = plan && plan.plan_name ? plan.plan_name : null;\n  let est = null, basis = null, planConfirmed = false, method = null, params = null;\n  if (plan && plan.calc && plan.calc.method) { method = plan.calc.method; params = plan.calc.params || {}; planConfirmed = true; }\n  else { method = DEF.fallback_method; params = { srb_rate: DEF.fallback_srb_rate, fab_rate: DEF.fallback_fab_rate }; }\n  const bsa = Number(r.sumAssured) || 0;\n  if (bsa > 0 && term > 0 && method !== 'annuity' && method !== 'ulip') {\n    est = runCalc(method, params, { BSA: bsa, AP: perYear || (Number(r.premium) || 0), term, ppt, years_elapsed: yearsElapsed, premiums_paid: premiumsPaid });\n    if (est) basis = est.basis + (planConfirmed ? '' : ' (plan to be confirmed - default legacy rate ' + (params.srb_rate || '') + '/1000 used)');\n  }\n  pols.push({\n    member: String(r.name || 'Unknown').trim(), policyNo: String(r.policyNo), tbl,\n    planName: planName || (planConfirmed ? 'Table ' + tbl : null), planConfirmed,\n    kind: 'life', type: single ? 'Single' : 'Regular',\n    sa: bsa, premium: Number(r.premium) || 0, perYear,\n    single, singleAmt: single ? (Number(r.premium) || 0) : 0,\n    start: r.commencementDate || null, maturity: r.maturityDate || null,\n    matYear: (mat && !isNaN(mat)) ? mat.getFullYear() : null, matLabel: matLabel(r.maturityDate),\n    status, dob: r.dob || null, mode: r.mode || '',\n    estMaturity: est && est.maturity ? est.maturity : null,\n    estDeath: est && est.death ? est.death : null,\n    estBasis: basis, method\n  });\n}\nfor (const r of extraRows) {\n  const t = String(r.policyType || '').toLowerCase();\n  const kind = t === 'health' ? 'health' : (t === 'life' || t === 'term' ? 'life' : (t === 'sip' ? 'investment' : 'general'));\n  pols.push({\n    member: String(r.clientName || fq.familyHead).trim(), policyNo: String(r.policyNo), tbl: r.insurerName || '-',\n    planName: r.insurerName || null, planConfirmed: true,\n    kind, type: 'Regular', sa: Number(r.sumAssured) || 0, premium: Number(r.premium) || 0,\n    perYear: Number(r.premium) || 0, single: false, singleAmt: 0,\n    start: r.startDate || null, maturity: r.maturityDate || null,\n    matYear: r.maturityDate ? new Date(r.maturityDate).getFullYear() : null, matLabel: matLabel(r.maturityDate),\n    status: String(r.status || 'active') === 'active' ? 'In-force' : (String(r.status) === 'lapsed' ? 'Lapsed' : 'In-force'),\n    dob: null, mode: 'Yearly', estMaturity: null, estDeath: null, estBasis: null, method: null\n  });\n}\n\nconst memberMap = {};\nfor (const p of pols) { (memberMap[p.member] = memberMap[p.member] || []).push(p); }\nconst members = Object.keys(memberMap).map((nm) => {\n  const rows = memberMap[nm];\n  const life = rows.filter(r => r.kind === 'life');\n  const lifeIn = life.filter(r => r.status === 'In-force');\n  const health = rows.filter(r => r.kind === 'health' && r.status === 'In-force');\n  const upcoming = lifeIn.filter(r => r.matYear && r.matYear >= nowYear);\n  upcoming.sort((a, b) => a.matYear - b.matYear);\n  const nextY = upcoming.length ? upcoming[0].matYear : 0;\n  const nextRows = upcoming.filter(r => r.matYear === nextY);\n  const dobRow = rows.find(r => r.dob);\n  return {\n    name: nm, age: dobRow ? ageOf(dobRow.dob) : null, policies_count: rows.length,\n    life_sa_total: life.reduce((s, r) => s + r.sa, 0),\n    life_inforce: lifeIn.reduce((s, r) => s + r.sa, 0),\n    est_maturity_inforce: lifeIn.reduce((s, r) => s + (r.estMaturity || r.sa), 0),\n    health_cover: health.reduce((s, r) => s + r.sa, 0),\n    annual_premium: rows.filter(r => r.status === 'In-force').reduce((s, r) => s + r.perYear, 0),\n    single_premium: rows.reduce((s, r) => s + r.singleAmt, 0),\n    next_maturity_year: nextY,\n    next_maturity_amount: nextRows.reduce((s, r) => s + r.sa, 0),\n    next_maturity_est: nextRows.reduce((s, r) => s + (r.estMaturity || r.sa), 0),\n    low_cover_flag: false\n  };\n});\nconst maxCover = Math.max(...members.map(m => m.life_inforce), 1);\nfor (const m of members) m.low_cover_flag = m.life_inforce > 0 && m.life_inforce <= maxCover / 10;\n\nconst lifeAll = pols.filter(p => p.kind === 'life');\nconst lifeInf = lifeAll.filter(p => p.status === 'In-force');\nconst lifeMat = lifeAll.filter(p => p.status === 'Matured');\nconst healthIn = pols.filter(p => p.kind === 'health' && p.status === 'In-force');\nconst totals = {\n  members: members.length, policies: pols.length,\n  inforce_count: pols.filter(p => p.status === 'In-force').length,\n  matured_count: pols.filter(p => p.status === 'Matured').length,\n  life_sa_total: lifeAll.reduce((s, r) => s + r.sa, 0),\n  life_inforce: lifeInf.reduce((s, r) => s + r.sa, 0),\n  est_maturity_inforce: lifeInf.reduce((s, r) => s + (r.estMaturity || r.sa), 0),\n  inforce_pct: 0, health_cover: healthIn.reduce((s, r) => s + r.sa, 0),\n  annual_premium: pols.filter(p => p.status === 'In-force').reduce((s, r) => s + r.perYear, 0),\n  single_premium: pols.reduce((s, r) => s + r.singleAmt, 0),\n  matured_total: lifeMat.reduce((s, r) => s + r.sa, 0),\n  unconfirmed_plans: lifeAll.filter(p => !p.planConfirmed).length\n};\ntotals.inforce_pct = totals.life_sa_total ? Math.round(totals.life_inforce * 100 / totals.life_sa_total) : 0;\n\nconst tlMap = {};\nfor (const p of lifeAll) {\n  if (!p.matYear) continue;\n  const key = p.matYear + '|' + (p.status === 'Matured' ? 1 : 0);\n  tlMap[key] = tlMap[key] || { year: p.matYear, amount: 0, amountEst: 0, matured: p.status === 'Matured', policy_count: 0 };\n  tlMap[key].amount += p.sa; tlMap[key].amountEst += (p.estMaturity || p.sa); tlMap[key].policy_count += 1;\n}\nconst timeline = Object.values(tlMap).sort((a, b) => a.year - b.year || (a.matured ? -1 : 1));\nconst upcomingTl = timeline.filter(t => !t.matured && t.year >= nowYear);\nconst big = upcomingTl.slice().sort((a, b) => b.amountEst - a.amountEst);\nconst fp = {\n  next_year: upcomingTl.length ? upcomingTl[0].year : 0,\n  next_amount: upcomingTl.length ? upcomingTl[0].amount : 0,\n  next_amount_est: upcomingTl.length ? upcomingTl[0].amountEst : 0,\n  upcoming_total: upcomingTl.reduce((s, t) => s + t.amount, 0),\n  upcoming_total_est: upcomingTl.reduce((s, t) => s + t.amountEst, 0),\n  matured_total: totals.matured_total,\n  big_years: [big[0] ? { year: big[0].year, amount: big[0].amountEst } : { year: 0, amount: 0 }, big[1] ? { year: big[1].year, amount: big[1].amountEst } : { year: 0, amount: 0 }],\n  soon_by: nowYear + 2,\n  soon_total: upcomingTl.filter(t => t.year <= nowYear + 2).reduce((s, t) => s + t.amountEst, 0),\n  future_years: upcomingTl.length\n};\nconst scorecard = {\n  life: { status: totals.life_inforce >= 5000000 ? 'strong' : (totals.life_inforce >= 1000000 ? 'moderate' : 'low'), label: '' },\n  health: { status: totals.health_cover > 0 ? 'covered' : 'gap', label: '' }\n};\nconst computed = { totals, members, timeline, financial_planning: fp, scorecard, familyHead: fq.familyHead };\n\nconst lines = pols.map(p => [p.member, p.policyNo, (p.planName || 'Tbl ' + p.tbl) + (p.planConfirmed ? '' : ' (UNCONFIRMED)'), p.method || '-', p.type + '/' + p.mode, 'SA ' + p.sa, 'Prem ' + p.premium, p.single ? 'one-time' : ('PerYr ' + p.perYear), 'Mat ' + p.matLabel, 'EstMaturity ' + (p.estMaturity || '-'), p.status].join(' | '));\nconst aiUserPrompt = 'Generate the CGPE family financial and insurance report JSON for the family below. IMPORTANT: all numeric aggregates have already been computed by the deterministic benefit engine and are provided - copy them exactly, do NOT recompute. EstMaturity figures include ILLUSTRATED bonus (srb/fab per plan library; unconfirmed plans use a default legacy rate and are flagged) - always describe them as illustrated, not guaranteed. Your value-add: insights (3-5 compliant strings), scorecard labels, data_notes (must mention how many plans are unconfirmed/to-source if any).\\n\\nFamily head: ' + fq.familyHead + '\\nReport date: ' + now.toDateString() + '\\n\\nPRECOMPUTED AGGREGATES (use exactly):\\n' + JSON.stringify({ totals, members, financial_planning: fp, scorecard_status: { life: scorecard.life.status, health: scorecard.health.status } }) + '\\n\\nPolicy rows with plan-library enrichment:\\n' + lines.join('\\n') + '\\n\\nHealth/mediclaim: ' + (totals.health_cover > 0 ? 'present, cover ' + totals.health_cover : 'none on record') + '\\nMutual fund / SIP: ' + (pols.some(p => p.kind === 'investment') ? 'present' : 'none on record');\n\nreturn [{ json: {\n  aiUserPrompt,\n  reportSystemPrompt: cfg.reportSystemPrompt || 'You are a report writer. Output only valid JSON.',\n  publicBaseUrl: cfg.publicBaseUrl || 'https://ai.cgpe.in/webhook',\n  reportCss: cfg.reportCss || '',\n  computedStr: JSON.stringify(computed),\n  polsStr: JSON.stringify(pols)\n} }];"
      },
      "id": "93fdcf0e-6860-40a7-b09b-dbc6c37d2837",
      "name": "Compute and Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.aiUserPrompt }}",
        "options": {
          "systemMessage": "={{ $json.reportSystemPrompt }}",
          "maxIterations": 3,
          "enableStreaming": false
        }
      },
      "id": "baedb5b4-0632-404b-9957-4623623becf3",
      "name": "Report Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "timeout": 120000
        }
      },
      "id": "04a58abb-a2da-451a-a6db-a70ab36f2a70",
      "name": "Report Writer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1872,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "Ih2MECxY1EjMsbf2",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* CGPE Report Generator — new 8-page render core.\n   Pure function: buildHtml(computed, pols, ai, opts) -> { html, reportId, genDate }\n   Designed to be inlined into the n8n \"Validate and Render\" code node.\n   Roles removed (no gender/relation in DB): members ordered by in-force life cover.\n   Graceful for single-member families. */\n\n// ---------- helpers ----------\nconst esc = (s) => String(s == null ? '' : s).replace(/[&<>\"']/g, c => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[c]));\nconst grpIN = (n) => { // Indian digit grouping on an integer string\n  n = Math.round(Number(n) || 0);\n  const neg = n < 0; n = Math.abs(n).toString();\n  if (n.length <= 3) return (neg ? '-' : '') + n;\n  let last3 = n.slice(-3), rest = n.slice(0, -3);\n  rest = rest.replace(/\\B(?=(\\d{2})+(?!\\d))/g, ',');\n  return (neg ? '-' : '') + rest + ',' + last3;\n};\nconst fmtIN = (n) => '₹' + grpIN(n);                     // ₹2,56,65,000\nconst shortIN = (n) => {                                  // ₹2.57 Cr / ₹66.83 L / ₹50,000 / ₹0\n  n = Number(n) || 0;\n  if (n >= 1e7) return '₹' + (n / 1e7).toFixed(2) + ' Cr';\n  if (n >= 1e5) return '₹' + (n / 1e5).toFixed(2) + ' L';\n  return '₹' + grpIN(n);\n};\nconst chartVal = (n) => {                                 // 1.04Cr / 20.1L / 2.0L\n  n = Number(n) || 0;\n  if (n >= 1e7) return (n / 1e7).toFixed(2) + 'Cr';\n  return (n / 1e5).toFixed(1) + 'L';\n};\nconst initials = (name) => {\n  const parts = String(name || '').trim().split(/\\s+/).filter(Boolean);\n  if (!parts.length) return '?';\n  // LIC names are SURNAME FIRST MIDDLE; take first letters of the two \"personal\" tokens if available\n  const pick = parts.length >= 3 ? [parts[1], parts[2]] : parts;\n  return pick.slice(0, 2).map(p => p[0]).join('').toUpperCase();\n};\nconst shortName = (name) => { // drop leading surname token for display where template does so\n  const parts = String(name || '').trim().split(/\\s+/).filter(Boolean);\n  return parts.length >= 2 ? parts.slice(1).join(' ') : (parts[0] || '');\n};\n\n// ---------- brand SVG (canopy identical; person+trunk+hand-leaves recolour by mode) ----------\nconst CANOPY = `<g transform=\"translate(112.3,18.2) rotate(23.0)\"><ellipse rx=\"9.86\" ry=\"5.80\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(69.4,23.5) rotate(28.3)\"><ellipse rx=\"8.12\" ry=\"4.78\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(96.6,23.8) rotate(42.0)\"><ellipse rx=\"7.08\" ry=\"4.17\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(116.6,26.1) rotate(-40.2)\"><ellipse rx=\"9.25\" ry=\"5.44\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(131.1,28.8) rotate(-4.5)\"><ellipse rx=\"9.01\" ry=\"5.30\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(73.4,29.6) rotate(56.8)\"><ellipse rx=\"9.13\" ry=\"5.37\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(95.5,35.7) rotate(-19.1)\"><ellipse rx=\"9.17\" ry=\"5.39\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(89.2,36.7) rotate(37.9)\"><ellipse rx=\"9.91\" ry=\"5.83\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(113.7,39.0) rotate(50.6)\"><ellipse rx=\"9.58\" ry=\"5.64\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(60.5,41.5) rotate(29.4)\"><ellipse rx=\"9.19\" ry=\"5.41\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(82.4,42.2) rotate(16.1)\"><ellipse rx=\"9.50\" ry=\"5.59\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(132.1,47.4) rotate(-58.1)\"><ellipse rx=\"9.77\" ry=\"5.75\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(122.0,50.1) rotate(-3.7)\"><ellipse rx=\"10.13\" ry=\"5.96\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(56.1,50.7) rotate(26.2)\"><ellipse rx=\"10.03\" ry=\"5.90\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(117.6,51.5) rotate(-58.9)\"><ellipse rx=\"9.62\" ry=\"5.66\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(88.9,52.8) rotate(-16.3)\"><ellipse rx=\"8.75\" ry=\"5.14\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(112.9,54.6) rotate(-31.9)\"><ellipse rx=\"8.84\" ry=\"5.20\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(100.4,56.0) rotate(-7.4)\"><ellipse rx=\"9.66\" ry=\"5.68\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(120.8,56.9) rotate(43.7)\"><ellipse rx=\"8.89\" ry=\"5.23\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(139.0,57.5) rotate(-23.7)\"><ellipse rx=\"9.49\" ry=\"5.58\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(121.9,60.6) rotate(38.4)\"><ellipse rx=\"9.16\" ry=\"5.39\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(67.4,64.1) rotate(-22.9)\"><ellipse rx=\"9.65\" ry=\"5.68\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(90.8,65.2) rotate(-53.3)\"><ellipse rx=\"9.41\" ry=\"5.53\" fill=\"#3F7E38\"/></g>\n<g transform=\"translate(119.6,65.3) rotate(59.6)\"><ellipse rx=\"9.03\" ry=\"5.31\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(64.2,68.6) rotate(56.8)\"><ellipse rx=\"9.68\" ry=\"5.69\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(65.1,69.7) rotate(-49.6)\"><ellipse rx=\"10.16\" ry=\"5.98\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(111.4,78.2) rotate(17.6)\"><ellipse rx=\"9.24\" ry=\"5.44\" fill=\"#82B04F\"/></g>\n<g transform=\"translate(91.6,84.0) rotate(42.2)\"><ellipse rx=\"9.21\" ry=\"5.42\" fill=\"#82B04F\"/></g>`;\nconst PERSON = (fill, leaf) => `<g fill=\"${fill}\">\n  <circle cx=\"100\" cy=\"86\" r=\"7.6\"/>\n  <path d=\"M100 94 C 94 94, 90.5 98, 90.5 103 C 90.5 107, 93 110, 94.5 114 C 90 119, 84 122, 78 123 C 82 128, 89 127, 94 123 C 92 131, 90 140, 92 148 C 96 143, 99 137, 100 131 C 101 137, 104 143, 108 148 C 110 140, 108 131, 106 123 C 111 127, 118 128, 122 123 C 116 122, 110 119, 105.5 114 C 107 110, 109.5 107, 109.5 103 C 109.5 98, 106 94, 100 94 Z\"/>\n  <path d=\"M96 100 C 88 95, 82 88, 78 79 C 84 84, 91 90, 97 95 Z\"/>\n  <path d=\"M104 100 C 112 95, 118 88, 122 79 C 116 84, 109 90, 103 95 Z\"/>\n</g>\n<g><path d=\"M100 182 C 98 168, 97 154, 97 140 C 97 132, 96 125, 92 120 C 88 126, 87 133, 88 140 C 83 133, 80 125, 81 116 C 76 122, 75 130, 77 138 C 71 130, 67 121, 68 111 C 62 118, 61 128, 64 137 C 57 132, 52 124, 51 114 C 46 122, 46 133, 51 143 C 60 165, 79 179, 100 182 Z\" fill=\"${fill}\"/>\n  <path d=\"M92 120 C 90 111, 91 102, 95 97 C 98 103, 99 112, 99 122 C 96 122, 94 122, 92 120 Z\" fill=\"${leaf}\"/>\n  <path d=\"M81 116 C 79 107, 81 98, 85 94 C 88 100, 88 109, 88 118 C 85 118, 83 117, 81 116 Z\" fill=\"${leaf}\"/>\n  <path d=\"M68 111 C 67 103, 69 95, 73 91 C 76 97, 76 105, 76 114 C 73 114, 70 113, 68 111 Z\" fill=\"${leaf}\"/>\n  <path d=\"M51 114 C 49 106, 50 98, 55 94 C 57 100, 58 108, 59 117 C 56 117, 53 116, 51 114 Z\" fill=\"${leaf}\"/></g>\n<g transform=\"translate(200,0) scale(-1,1)\"><path d=\"M100 182 C 98 168, 97 154, 97 140 C 97 132, 96 125, 92 120 C 88 126, 87 133, 88 140 C 83 133, 80 125, 81 116 C 76 122, 75 130, 77 138 C 71 130, 67 121, 68 111 C 62 118, 61 128, 64 137 C 57 132, 52 124, 51 114 C 46 122, 46 133, 51 143 C 60 165, 79 179, 100 182 Z\" fill=\"${fill}\"/>\n  <path d=\"M92 120 C 90 111, 91 102, 95 97 C 98 103, 99 112, 99 122 C 96 122, 94 122, 92 120 Z\" fill=\"${leaf}\"/>\n  <path d=\"M81 116 C 79 107, 81 98, 85 94 C 88 100, 88 109, 88 118 C 85 118, 83 117, 81 116 Z\" fill=\"${leaf}\"/>\n  <path d=\"M68 111 C 67 103, 69 95, 73 91 C 76 97, 76 105, 76 114 C 73 114, 70 113, 68 111 Z\" fill=\"${leaf}\"/>\n  <path d=\"M51 114 C 49 106, 50 98, 55 94 C 57 100, 58 108, 59 117 C 56 117, 53 116, 51 114 Z\" fill=\"${leaf}\"/></g>`;\nconst LOGO = (mode) => {\n  const fill = mode === 'light' ? '#FFFFFF' : '#242C63';\n  const leaf = mode === 'light' ? '#5DA8E6' : '#2E7BC1';\n  return `<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 200 200\" role=\"img\" aria-label=\"CGP Enterprise logo\">${CANOPY}${PERSON(fill, leaf)}</svg>`;\n};\n\nconst CSS = `:root{\n  --navy:#242C63; --navy-deep:#1b2150; --blue:#2E7BC1; --blue-soft:#EAF2FB;\n  --leaf:#82B04F; --forest:#3F7E38; --mist:#F4F8EF; --white:#FFFFFF;\n  --ink:#20264d; --muted:#6b7392; --line:#E4E8F0;\n  --clay:#C0563B; --clay-soft:#FBEEEA;\n}\n*{box-sizing:border-box;margin:0;padding:0}\nhtml{-webkit-print-color-adjust:exact;print-color-adjust:exact}\nbody{font-family:'Inter','Mukta',system-ui,Arial,sans-serif;color:var(--ink);background:#c9ccd6;font-size:10.2px;line-height:1.5;-webkit-font-smoothing:antialiased}\n.page{position:relative;width:210mm;min-height:297mm;background:var(--white);margin:0 auto;padding:15mm 15mm 14mm;overflow:hidden}\n@media screen{.page{margin:10px auto;box-shadow:0 6px 28px rgba(20,26,60,.16)}}\nh1,h2,h3,h4,.serif{font-family:'Playfair Display','Noto Serif Gujarati',Georgia,serif}\n.em{display:inline-block;line-height:0}\n.em svg{width:100%;height:100%;display:block}\n.rhead{display:flex;align-items:center;justify-content:space-between;padding-bottom:8px;border-bottom:2px solid var(--leaf);margin-bottom:15px}\n.rhead .lft{display:flex;align-items:center;gap:9px}\n.rhead .lft .em{width:26px;height:26px;flex:0 0 26px}\n.rhead .wm{font-family:'Playfair Display',serif;font-weight:800;color:var(--navy);font-size:13px;letter-spacing:.3px;line-height:1}\n.rhead .sub{font-size:7px;letter-spacing:2px;color:var(--leaf);font-weight:700;text-transform:uppercase;margin-top:3px}\n.rhead .rgt{text-align:right;font-size:8px;color:var(--muted);font-weight:600}\n.rhead .rgt b{display:block;color:var(--navy);font-size:9px;letter-spacing:.3px;margin-bottom:2px}\n.rfoot{position:absolute;left:15mm;right:15mm;bottom:9mm;display:flex;justify-content:space-between;align-items:flex-end;gap:14px;border-top:1px solid var(--line);padding-top:6px;font-size:7.4px;color:#97a0b8;line-height:1.4}\n.rfoot .pg{font-weight:700;color:var(--navy);white-space:nowrap;font-size:8px}\n.eyebrow{font-size:8px;letter-spacing:2.5px;text-transform:uppercase;color:var(--forest);font-weight:700;margin-bottom:5px}\n.sec-title{font-size:22px;color:var(--navy);font-weight:800;line-height:1.08;letter-spacing:-.2px}\n.sec-title .guj{font-family:'Inter',sans-serif;font-style:italic;font-weight:500;color:var(--leaf);font-size:12px;letter-spacing:0}\n.lede{color:var(--muted);max-width:120mm;margin-top:8px;font-size:9.6px}\n.lede b{color:var(--ink)}\n.card{background:var(--white);border:1px solid var(--line);border-radius:12px;padding:14px 16px}\n.card.mist{background:var(--mist);border-color:#E7EEDD}\n.grn-rule{border-left:3px solid var(--leaf)}\n.grp-label{display:flex;align-items:center;gap:9px;margin:16px 0 9px}\n.grp-label .bar{width:26px;height:4px;border-radius:3px}\n.grp-label.secure .bar{background:var(--navy)} .grp-label.nurture .bar{background:var(--leaf)}\n.grp-label .t{font-size:8.5px;letter-spacing:2px;text-transform:uppercase;font-weight:700}\n.grp-label.secure .t{color:var(--navy)} .grp-label.nurture .t{color:var(--forest)}\n.pgrid{display:grid;grid-template-columns:1fr 1fr;gap:13px}\n.pcard{border:1px solid var(--line);border-radius:13px;padding:14px 15px;position:relative}\n.pcard.secure{border-left:4px solid var(--navy)} .pcard.nurture{border-left:4px solid var(--leaf)}\n.pcard .ph{display:flex;align-items:center;gap:11px}\n.pcard .num{width:30px;height:30px;border-radius:9px;color:#fff;flex:0 0 30px;display:flex;align-items:center;justify-content:center;font-family:'Playfair Display',serif;font-weight:800;font-size:15px}\n.pcard.secure .num{background:var(--navy)} .pcard.nurture .num{background:var(--forest)}\n.pcard .pname{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:13px;line-height:1.15}\n.pcard .pguj{font-style:italic;color:var(--leaf);font-size:8.5px;margin-top:1px}\n.pcard .pwhat{font-size:9px;color:#40476a;margin-top:10px;line-height:1.5;min-height:38px}\n.pcard .pstat{display:flex;align-items:center;gap:8px;margin-top:10px;padding-top:10px;border-top:1px solid var(--line)}\n.chip{font-size:8px;font-weight:700;letter-spacing:.3px;padding:3px 9px;border-radius:20px;text-transform:uppercase;white-space:nowrap}\n.chip.ok{background:#EAF3E1;color:var(--forest)} .chip.gap{background:var(--clay-soft);color:var(--clay)} .chip.grow{background:#EAF3E1;color:var(--forest)}\n.pcard .pval{font-family:'Playfair Display',serif;font-weight:700;color:var(--navy);font-size:11px}\n.pcard .pnote{font-size:8px;color:var(--muted);margin-top:8px;line-height:1.45}\n.through{background:var(--navy);color:#fff;border-radius:12px;padding:13px 16px;margin-top:15px;position:relative;overflow:hidden}\n.through .th-hd{font-family:'Playfair Display',serif;font-weight:700;color:var(--leaf);font-size:11px;margin-bottom:3px}\n.through p{font-size:9px;color:#d7dbf0;line-height:1.55} .through p b{color:#fff}\n.toc{margin-top:15px}\n.toc .toc-hd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11.5px;margin-bottom:9px}\n.toc-grid{display:grid;grid-template-columns:1fr 1fr;gap:10px}\n.toc-item{display:flex;align-items:flex-start;gap:10px;border:1px solid var(--line);border-radius:10px;padding:10px 12px}\n.toc-item .pg{flex:0 0 auto;background:var(--mist);color:var(--forest);font-weight:700;font-size:8px;letter-spacing:.3px;padding:3px 9px;border-radius:20px;white-space:nowrap;margin-top:1px}\n.toc-item .tx{font-size:8.8px;color:#3a4166;line-height:1.45}\n.panel{border:1px solid var(--line);border-radius:14px;padding:16px 18px;margin-top:14px;background:#fff}\n.panel-hd{display:flex;justify-content:space-between;align-items:flex-start;gap:16px}\n.panel-hd .k{font-size:8px;letter-spacing:2px;text-transform:uppercase;color:var(--forest);font-weight:700}\n.panel-hd h3{font-size:14px;color:var(--navy);margin-top:2px}\n.panel-hd .desc{color:var(--muted);font-size:9px;margin-top:3px;max-width:75mm}\n.bignum{font-family:'Playfair Display',serif;font-weight:800;color:var(--navy);font-size:29px;line-height:1;text-align:right}\n.bignum .cur{font-size:17px;vertical-align:top;margin-right:1px}\n.panel-hd .rgt-note{text-align:right;color:var(--muted);font-size:8px;margin-top:6px;line-height:1.5}\n.panel-hd .rgt-note b{color:var(--forest)}\n.bars{margin-top:15px;display:flex;flex-direction:column;gap:10px}\n.bar-row{display:grid;grid-template-columns:47mm 1fr auto;align-items:center;gap:12px}\n.bar-row .nm{font-size:9px;color:var(--ink);font-weight:600;text-align:right;line-height:1.25}\n.bar-row .nm span{display:block;color:var(--muted);font-weight:500;font-size:8px}\n.track{height:15px;background:var(--mist);border-radius:8px;overflow:hidden}\n.fill{height:100%;border-radius:8px;background:linear-gradient(90deg,var(--forest),var(--leaf))}\n.bar-row .val{font-family:'Playfair Display',serif;font-weight:700;color:var(--navy);font-size:11px;min-width:52px;text-align:right}\n.bars-note{margin-top:11px;font-size:8px;color:var(--muted);border-top:1px dashed var(--line);padding-top:8px}\n.gap-panel{border:1px solid #E7C9BF;background:var(--clay-soft);border-radius:14px;padding:15px 18px;margin-top:13px}\n.gap-panel h3{color:var(--clay)} .gap-panel .k{color:var(--clay)!important} .gap-panel .bignum{color:var(--clay)}\n.gap-band{margin-top:12px;border:1.5px dashed #D79A88;border-radius:9px;text-align:center;padding:6px;font-size:8.5px;letter-spacing:2px;font-weight:800;color:var(--clay);text-transform:uppercase}\n.gap-msg{margin-top:10px;font-size:9px;color:#7d3f2f;line-height:1.55} .gap-msg b{color:var(--clay)}\n.status-row{display:grid;grid-template-columns:1fr 1fr;gap:12px;margin-top:13px}\n.stile{display:flex;align-items:center;gap:12px;border:1px solid var(--line);border-radius:12px;padding:11px 14px}\n.stile .ic{width:29px;height:29px;border-radius:50%;display:flex;align-items:center;justify-content:center;color:#fff;font-size:15px;flex:0 0 29px}\n.stile .ok{background:var(--forest)} .stile .no{background:var(--clay)}\n.stile .lab{font-size:8px;letter-spacing:1.2px;text-transform:uppercase;color:var(--muted);font-weight:600}\n.stile .big{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:12px;margin-top:1px}\n.stile.gapt .big{color:var(--clay)}\n.review{margin-top:14px}\n.review .hd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11.5px;margin-bottom:3px}\n.review .hd small{font-family:'Inter','Mukta';font-weight:500;color:var(--muted);font-size:8px}\n.review ul{list-style:none;margin-top:8px;display:flex;flex-direction:column;gap:7px}\n.review li{position:relative;padding-left:15px;font-size:8.8px;color:#3a4166;line-height:1.5}\n.review li:before{content:\"\";position:absolute;left:0;top:5px;width:6px;height:6px;border-radius:50%;background:var(--leaf)}\n.review li b{color:var(--navy)}\n.kpis{display:grid;gap:11px;margin-top:14px}\n.kpis.k4{grid-template-columns:repeat(4,1fr)} .kpis.k5{grid-template-columns:repeat(5,1fr)}\n.kpi{border:1px solid var(--line);border-radius:12px;padding:12px 12px;background:#fff;position:relative;overflow:hidden}\n.kpi.hl{background:var(--navy);border-color:var(--navy)} .kpi.mistk{background:var(--mist);border-color:#E7EEDD}\n.kpi .top{width:22px;height:3px;border-radius:2px;background:var(--leaf);margin-bottom:8px}\n.kpi .kl{font-size:7.6px;letter-spacing:1.2px;text-transform:uppercase;color:var(--muted);font-weight:700;min-height:19px}\n.kpi.hl .kl{color:#aeb6e0}\n.kpi .kv{font-family:'Playfair Display',serif;font-weight:800;color:var(--navy);font-size:18px;line-height:1;margin-top:5px}\n.kpi.hl .kv{color:#fff}\n.kpi .ks{font-size:7.8px;color:var(--muted);margin-top:5px;line-height:1.4} .kpi.hl .ks{color:#b9c0e6}\n.kpi .kv.clay{color:var(--clay)} .kpi .kv.grn{color:var(--forest)}\n.subhd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11.5px;margin:15px 0 8px}\n.goals{display:grid;grid-template-columns:repeat(4,1fr);gap:11px}\n.gcard{border:1px solid var(--line);border-radius:11px;padding:11px 12px;border-top:3px solid var(--leaf)}\n.gcard .gi{width:20px;height:20px;border-radius:6px;background:#EAF3E1;color:var(--forest);display:flex;align-items:center;justify-content:center;font-size:11px;margin-bottom:7px}\n.gcard .gn{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:10.5px;line-height:1.15}\n.gcard .gg{font-style:italic;color:var(--leaf);font-size:8px;margin-top:1px}\n.gcard .gnote{font-size:8px;color:var(--muted);margin-top:6px;line-height:1.4}\n.chart-card{margin-top:13px;border:1px solid var(--line);border-radius:14px;padding:14px 18px 11px}\n.chart-hd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11.5px}\n.chart-hd small{font-family:'Inter','Mukta';font-weight:500;color:var(--muted);font-size:8px;display:block;margin-top:2px}\n.chart{display:flex;align-items:flex-end;height:120px;margin-top:12px;padding:0 2px;border-bottom:1.5px solid var(--line)}\n.col{flex:1;display:flex;flex-direction:column;align-items:center;justify-content:flex-end;height:100%;gap:4px}\n.col .cval{font-size:7.4px;font-weight:700;color:var(--forest)}\n.col .cbar{width:62%;max-width:19px;border-radius:4px 4px 0 0;background:linear-gradient(180deg,var(--leaf),var(--forest))}\n.col.big .cbar{background:linear-gradient(180deg,#9ac169,var(--forest))} .col.big .cval{color:var(--navy);font-size:8.5px}\n.xaxis{display:flex;margin-top:5px} .xaxis .xc{flex:1;text-align:center;font-size:6.8px;color:var(--muted)}\n.legend{display:flex;gap:16px;margin-top:10px;font-size:8px;color:var(--muted)}\n.legend .lg{display:flex;align-items:center;gap:5px} .legend .sw{width:9px;height:9px;border-radius:2px}\n.brow{display:grid;grid-template-columns:1.35fr 1fr;gap:13px;margin-top:13px}\n.hl3{display:grid;grid-template-columns:1fr 1fr 1fr;gap:10px}\n.hcard{border:1px solid var(--line);border-radius:11px;padding:11px 12px;border-left:3px solid var(--leaf)}\n.hcard .y{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:800;color:var(--navy);font-size:13px}\n.hcard .v{font-family:'Playfair Display',serif;font-weight:700;color:var(--forest);font-size:11.5px;margin-top:2px}\n.hcard .c{font-size:7.6px;color:var(--muted);margin-top:4px;line-height:1.4}\n.p4{background:var(--mist);border:1px solid #E7EEDD;border-left:3px solid var(--forest);border-radius:12px;padding:12px 14px}\n.p4 .p4h{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--forest);font-size:11px}\n.p4 .p4g{font-style:italic;color:var(--leaf);font-size:8px;margin-bottom:6px}\n.p4 ul{list-style:none;display:flex;flex-direction:column;gap:6px;margin-top:4px}\n.p4 li{position:relative;padding-left:13px;font-size:8px;color:#3a4166;line-height:1.45}\n.p4 li:before{content:\"\";position:absolute;left:0;top:5px;width:5px;height:5px;border-radius:50%;background:var(--forest)}\n.mgrid{display:grid;grid-template-columns:1fr 1fr;gap:12px;margin-top:14px}\n.mcard{border:1px solid var(--line);border-radius:13px;padding:13px 15px}\n.mcard .mh{display:flex;align-items:center;gap:11px;padding-bottom:10px;border-bottom:1px solid var(--line)}\n.mcard .av{width:33px;height:33px;border-radius:50%;background:var(--navy);color:#fff;flex:0 0 33px;display:flex;align-items:center;justify-content:center;font-family:'Playfair Display',serif;font-weight:700;font-size:12px}\n.mcard .mn{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11px;line-height:1.2}\n.mcard .mm{font-size:8px;color:var(--muted);margin-top:2px}\n.mrow{display:grid;grid-template-columns:1fr 1fr;gap:10px 12px;margin-top:10px}\n.mrow .f .fl{font-size:7.4px;letter-spacing:.6px;text-transform:uppercase;color:var(--muted);font-weight:600}\n.mrow .f .fv{font-family:'Playfair Display',serif;font-weight:700;color:var(--navy);font-size:12px;margin-top:2px}\n.mrow .f .fv.grn{color:var(--forest)} .mrow .f .fv.clay{color:var(--clay);font-size:10.5px}\n.notes .hd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11px;margin-bottom:7px}\n.notes p{font-size:8px;color:#4a5170;line-height:1.55;margin-bottom:5px;padding-left:14px;position:relative}\n.notes p:before{content:\"\";position:absolute;left:0;top:5px;width:5px;height:5px;border-radius:50%;background:var(--line)}\n.tband{display:flex;align-items:center;justify-content:space-between;background:var(--navy);color:#fff;border-radius:9px;padding:9px 14px;margin-top:13px}\n.tband .tn{display:flex;align-items:center;gap:10px}\n.tband .av{width:24px;height:24px;border-radius:50%;background:rgba(255,255,255,.14);color:#fff;display:flex;align-items:center;justify-content:center;font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;font-size:9px}\n.tband .nm{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;font-size:12px}\n.tband .ct{font-size:8px;letter-spacing:1px;text-transform:uppercase;color:#aeb6e0;font-weight:600}\ntable{width:100%;border-collapse:collapse;margin-top:9px;font-size:8.4px}\nthead th{text-align:left;font-size:7px;letter-spacing:.8px;text-transform:uppercase;color:var(--muted);font-weight:700;padding:0 8px 7px;border-bottom:1.5px solid var(--line)}\nthead th.r,tbody td.r{text-align:right}\ntbody td{padding:5.5px 8px;border-bottom:1px solid #EFF2F7;color:#3a4166;vertical-align:middle}\ntbody tr:nth-child(even){background:#FAFBF7}\ntbody td.no{font-variant-numeric:tabular-nums;color:var(--navy);font-weight:600}\ntbody td.sa,tbody td.est,tbody td.prem{font-variant-numeric:tabular-nums}\ntbody td.est{color:var(--forest);font-weight:600}\n.pill{display:inline-block;font-size:7px;font-weight:700;letter-spacing:.3px;padding:2.5px 7px;border-radius:20px;text-transform:uppercase}\n.pill.inf{background:#EAF3E1;color:var(--forest)} .pill.mat{background:#EEF0F5;color:#8890a8}\n.dag{color:var(--leaf);font-weight:800}\n.howto{margin-top:14px}\n.howto .hd{font-family:'Playfair Display','Noto Serif Gujarati',serif;font-weight:700;color:var(--navy);font-size:11px;margin-bottom:6px}\n.howto p{font-size:8.2px;color:#3a4166;line-height:1.6;margin-bottom:3px} .howto b{color:var(--navy)}\n@media print{ body{background:#fff} .page{margin:0;box-shadow:none;width:210mm;height:297mm} }\n.mgrid.slim{grid-template-columns:1fr 1fr;gap:10px}\n.mcard.slim{padding:11px 13px}\n.mcard.slim .mh{padding-bottom:9px;gap:10px}\n.mcard.slim .av{width:29px;height:29px;flex:0 0 29px;font-size:11px}\n.mcard.slim .mn{font-size:10.5px}\n.mcard.slim .mm{font-size:7.6px}\n.mslim{display:grid;grid-template-columns:repeat(4,1fr);gap:8px;margin-top:9px}\n.mslim .f .fl{font-size:6.8px;letter-spacing:.4px;text-transform:uppercase;color:var(--muted);font-weight:600}\n.mslim .f .fv{font-family:'Playfair Display',serif;font-weight:700;color:var(--navy);font-size:10px;margin-top:2px}\n.mslim .f .fv.grn{color:var(--forest)} .mslim .f .fv.clay{color:var(--clay);font-size:8.5px}\n.mslim .f .fv.sm{font-size:8.5px}\n.tband.sm{padding:7px 12px;margin-top:12px}\n.tband.sm .nm{font-size:11px}.tband.sm .av{width:22px;height:22px;font-size:8px}\ntable.reg{margin-top:7px;font-size:8px}\ntable.reg thead th{padding:0 7px 6px}\ntable.reg tbody td{padding:5px 7px}\n.retire{background:var(--navy);color:#fff;border-radius:12px;padding:13px 15px}\n.retire .rh{font-family:'Playfair Display',serif;font-weight:700;color:var(--leaf);font-size:11px}\n.retire .rg{font-style:italic;color:#aeb6e0;font-size:8px;margin-bottom:6px}\n.retire ul{list-style:none;display:flex;flex-direction:column;gap:6px;margin-top:4px}\n.retire li{position:relative;padding-left:13px;font-size:8px;color:#d7dbf0;line-height:1.45}\n.retire li:before{content:\"\";position:absolute;left:0;top:5px;width:5px;height:5px;border-radius:50%;background:var(--leaf)}\n.retire li b{color:#fff}`;\n\n// buildHtml(computed, pols, ai, genDate) -> html string\nfunction buildHtml(computed, pols, ai, genDate) {\n  const T = computed.totals, M = (computed.members || []).slice(), TL = computed.timeline || [];\n  const FP = computed.financial_planning || {}, SC = computed.scorecard || { life: {}, health: {} };\n  const head = computed.familyHead || 'Family';\n  ai = ai || {};\n  const disclaimer = 'Prepared by CGPE from supplied policy data · Cover figures are base sum assured; estimated values include illustrated bonus (not guaranteed) · Verify against policy bonds · Information summary, not financial advice.';\n\n  // members ordered by in-force life cover (no roles — DB has no relation/gender)\n  M.sort((a, b) => (b.life_inforce || 0) - (a.life_inforce || 0));\n  const isSolo = T.members <= 1;\n  const umangCount = pols.filter(p => /umang/i.test(p.planName || '')).length;\n\n  const rhead = (rtitle) => `<div class=\"rhead\"><div class=\"lft\"><div class=\"em\">${LOGO('dark')}</div>`\n    + `<div><div class=\"wm\">CGP ENTERPRISE</div><div class=\"sub\">Nurturing Wealth, Securing Future</div></div></div>`\n    + `<div class=\"rgt\"><b>${esc(rtitle)}</b>${esc(shortHead(head))} · Surat</div></div>`;\n  const rfoot = (pg, total) => `<div class=\"rfoot\"><div>${esc(disclaimer)}</div><div class=\"pg\">Page ${pg} / ${total}</div></div>`;\nfunction shortHead(h) { return String(h || '').split(/\\s+/).slice(0, 2).join(' '); }\n\n  // ---- schedule pagination (compute page count first) ----\n  const byMember = {};\n  for (const p of pols) { (byMember[p.member] = byMember[p.member] || []).push(p); }\n  const memberOrder = M.map(m => m.name).filter(nm => byMember[nm]);\n  for (const nm of Object.keys(byMember)) if (!memberOrder.includes(nm)) memberOrder.push(nm);\n  const ROW_BUDGET = 26;                     // approx table-row units per schedule page\n  const schedulePages = [];\n  let cur = [], used = 0;\n  for (const nm of memberOrder) {\n    const rows = byMember[nm];\n    const cost = 3 + rows.length;            // band + header + rows\n    if (used + cost > ROW_BUDGET && cur.length) { schedulePages.push(cur); cur = []; used = 0; }\n    cur.push(nm); used += cost;\n  }\n  if (cur.length) schedulePages.push(cur);\n  if (!schedulePages.length) schedulePages.push([]);\n  const TOTAL = 5 + schedulePages.length;\n  const schedStart = 6, schedEnd = TOTAL;\n\n  // ===================== PAGE 1 — COVER =====================\n  const statChip = (lab, val) => `<div style=\"background:rgba(255,255,255,.07);border:1px solid rgba(255,255,255,.14);border-radius:9px;padding:9px 14px\">`\n    + `<div style=\"font-size:7.5px;letter-spacing:1.2px;text-transform:uppercase;color:#9aa2cf;font-weight:600\">${lab}</div>`\n    + `<div style=\"font-family:'Playfair Display',serif;font-weight:700;font-size:15px;margin-top:2px\">${val}</div></div>`;\n  const cover = `<div class=\"page\" style=\"padding:0;background:var(--navy);color:#fff;display:flex;flex-direction:column\">\n    <div style=\"position:absolute;inset:0;background:radial-gradient(120% 80% at 85% 8%, rgba(130,176,79,.18), transparent 55%),radial-gradient(90% 70% at 12% 96%, rgba(46,123,193,.20), transparent 55%),linear-gradient(160deg,#2a3270,#1b2150)\"></div>\n    <div style=\"position:relative;padding:22mm 22mm 0;flex:1;display:flex;flex-direction:column\">\n      <div style=\"display:flex;justify-content:space-between;align-items:flex-start\">\n        <div><div style=\"font-size:9px;letter-spacing:3.5px;color:var(--leaf);font-weight:700;text-transform:uppercase\">CGP Enterprise · Surat · Since 1989</div>\n          <div style=\"font-size:8.5px;letter-spacing:2.5px;color:#aeb6e0;font-weight:600;text-transform:uppercase;margin-top:10px\">Family Financial &amp; Insurance Report</div></div>\n        <div class=\"em\" style=\"width:74px;height:74px\">${LOGO('light')}</div></div>\n      <div style=\"margin-top:16mm\">\n        <div style=\"font-family:'Playfair Display',serif;font-weight:800;font-size:37px;line-height:1.08;letter-spacing:-.3px\">${esc(head)}</div>\n        <div style=\"font-family:'Playfair Display',serif;font-style:italic;font-weight:500;font-size:19px;color:#cdd3ef;margin-top:6px\">${isSolo ? 'Individual portfolio' : 'Family · ' + T.members + ' members'}</div>\n        <div style=\"width:64px;height:4px;background:var(--leaf);border-radius:3px;margin:18px 0\"></div>\n        <div style=\"font-family:'Playfair Display',serif;font-size:17px;color:var(--leaf);font-weight:600\">Nurturing Wealth, Securing Future</div>\n        <div style=\"color:#c3c9ec;font-size:10px;max-width:122mm;margin-top:12px;line-height:1.6\">A complete, plain-language view of your ${isSolo ? '' : \"family's \"}protection, savings and wealth plan — built on the four pillars of financial planning, prepared for you by your CGPE Family CFO.</div></div>\n      <div style=\"margin-top:auto;padding-bottom:8mm\"><div style=\"display:flex;gap:10px;flex-wrap:wrap\">\n        ${statChip('Members', T.members)}${statChip('Policies', T.policies)}${statChip('In-force cover', shortIN(T.life_inforce))}${statChip('Generated', genDate)}</div></div>\n    </div>\n    <div style=\"position:relative;background:rgba(0,0,0,.16);border-top:2px solid var(--leaf);padding:12px 22mm;display:flex;justify-content:space-between;align-items:center\">\n      <div><div style=\"font-family:'Playfair Display',serif;font-weight:800;font-size:14px;letter-spacing:.5px\">CGP ENTERPRISE</div>\n        <div style=\"font-size:8px;color:#aeb6e0;margin-top:2px\">Insurance &amp; Financial Planning · Surat · Confidential</div></div>\n      <div style=\"text-align:right;font-size:7.5px;color:#8f97c4;max-width:62mm;line-height:1.5\">Information summary, not financial advice. Verify all figures against your policy bonds.</div></div>\n  </div>`;\n\n  // ===================== PAGE 2 — FOUR PILLARS =====================\n  const lifeChip = SC.life.status === 'strong' ? '<span class=\"chip ok\">Strong</span>'\n    : SC.life.status === 'moderate' ? '<span class=\"chip ok\">Moderate</span>' : '<span class=\"chip gap\">Low</span>';\n  const healthChip = T.health_cover > 0 ? '<span class=\"chip ok\">Covered</span>' : '<span class=\"chip gap\">Gap</span>';\n  const p2 = `<div class=\"page\">${rhead('Family Financial Report')}\n    <div class=\"eyebrow\">Your Complete Financial Plan</div><h2 class=\"sec-title\">The four pillars of your ${isSolo ? '' : \"family's \"}plan <span class=\"guj\">— Chaar aadhaar-stambh</span></h2>\n    <p class=\"lede\">Complete financial security stands on four pillars. The first two <b>secure</b> what you have; the next two <b>nurture</b> and grow it for the years ahead. Here is where you stand on each today.</p>\n    <div class=\"grp-label secure\"><span class=\"bar\"></span><span class=\"t\">Secure · protect what you have</span></div>\n    <div class=\"pgrid\"><div class=\"pcard secure\"><div class=\"ph\"><div class=\"num\">1</div><div><div class=\"pname\">Life Insurance</div><div class=\"pguj\">Jeevan Vima</div></div></div>\n        <div class=\"pwhat\">Money your family receives if something happens to a covered member.</div>\n        <div class=\"pstat\">${lifeChip}<span class=\"pval\">${shortIN(T.life_inforce)} in-force</span></div>\n        <div class=\"pnote\">${T.inforce_count} active ${T.inforce_count === 1 ? 'policy' : 'policies'}${isSolo ? '' : ' across ' + T.members + ' members'}.</div></div>\n      <div class=\"pcard secure\"><div class=\"ph\"><div class=\"num\">2</div><div><div class=\"pname\">Health Insurance</div><div class=\"pguj\">Mediclaim / Aarogya Vima</div></div></div>\n        <div class=\"pwhat\">Cover for hospitalization and medical bills — separate from life cover.</div>\n        <div class=\"pstat\">${healthChip}<span class=\"pval\">${T.health_cover > 0 ? shortIN(T.health_cover) + ' cover' : '₹0 on record'}</span></div>\n        <div class=\"pnote\">${T.health_cover > 0 ? 'Health cover is on record.' : 'No health policy on record. The clearest gap — review first.'}</div></div></div>\n    <div class=\"grp-label nurture\"><span class=\"bar\"></span><span class=\"t\">Nurture · grow what you build</span></div>\n    <div class=\"pgrid\"><div class=\"pcard nurture\"><div class=\"ph\"><div class=\"num\">3</div><div><div class=\"pname\">Goal &amp; Life-Event Planning</div><div class=\"pguj\">Jivan-na prasang-nu aayojan</div></div></div>\n        <div class=\"pwhat\">Planning by age for education, marriage, and retirement income after 60.</div>\n        <div class=\"pstat\"><span class=\"chip grow\">In progress</span><span class=\"pval\">${shortIN(T.est_maturity_inforce)} est. maturity</span></div>\n        <div class=\"pnote\">Money-back timed to life goals and retirement. Mapped next page.</div></div>\n      <div class=\"pcard nurture\"><div class=\"ph\"><div class=\"num\">4</div><div><div class=\"pname\">Generational Wealth</div><div class=\"pguj\">Pedhi dar pedhi sampatti</div></div></div>\n        <div class=\"pwhat\">Growing and passing wealth to the next generation — the HNI pillar.</div>\n        <div class=\"pstat\"><span class=\"chip grow\">${umangCount > 0 ? 'Started' : 'To start'}</span><span class=\"pval\">${umangCount > 0 ? umangCount + ' next-gen ' + (umangCount === 1 ? 'policy' : 'policies') : 'Not yet started'}</span></div>\n        <div class=\"pnote\">${umangCount > 0 ? umangCount + ' Jeevan Umang ' + (umangCount === 1 ? 'policy builds' : 'policies build') + ' long-term wealth; add investments &amp; nominations.' : 'Consider long-term wealth-building plans and nominations.'}</div></div></div>\n    <div class=\"through\"><div class=\"th-hd\">The through-line</div><p>This maps to our promise — <b>Nurturing Wealth, Securing Future.</b> Life &amp; Health <b>secure</b> your family; goal planning &amp; generational wealth <b>nurture</b> it. A complete plan needs all four.</p></div>\n    <div class=\"toc\"><div class=\"toc-hd\">What's inside — where to find the detail</div><div class=\"toc-grid\">\n      <div class=\"toc-item\"><span class=\"pg\">Page 3</span><span class=\"tx\">Protection — Life &amp; Health cover${isSolo ? '' : ', member by member'}</span></div>\n      <div class=\"toc-item\"><span class=\"pg\">Page 4</span><span class=\"tx\">Goals — education, marriage, retirement &amp; generational wealth</span></div>\n      <div class=\"toc-item\"><span class=\"pg\">Page 5</span><span class=\"tx\">${isSolo ? 'Portfolio at a glance and totals' : 'Each of the ' + T.members + ' members at a glance, and family totals'}</span></div>\n      <div class=\"toc-item\"><span class=\"pg\">${schedStart === schedEnd ? 'Page ' + schedStart : 'Pages ' + schedStart + '–' + schedEnd}</span><span class=\"tx\">Every policy on record, grouped by member</span></div></div></div>\n    ${rfoot(2, TOTAL)}</div>`;\n\n  // ===================== PAGE 3 — PROTECTION =====================\n  const barMembers = M.filter(m => (m.life_inforce || 0) > 0 || (m.life_sa_total || 0) > 0).slice(0, 10);\n  const maxCover = Math.max(1, ...barMembers.map(m => m.life_inforce || 0));\n  const bars = barMembers.map(m => {\n    const pct = Math.max(2, ((m.life_inforce || 0) * 100 / maxCover)).toFixed(1);\n    const ageTxt = m.age ? m.age + ' yrs' : 'age n/a';\n    return `<div class=\"bar-row\"><div class=\"nm\">${esc(shortName(m.name))}<span>${ageTxt}</span></div>`\n      + `<div class=\"track\"><div class=\"fill\" style=\"width:${pct}%\"></div></div><div class=\"val\">${shortIN(m.life_inforce || 0)}</div></div>`;\n  }).join('');\n  function shortName(n) { const p = String(n || '').trim().split(/\\s+/); return p.length >= 2 ? p.slice(1).join(' ') : (p[0] || ''); }\n  const reviewItems = (ai.insights && ai.insights.length ? ai.insights : defaultInsights(T, FP)).slice(0, 6)\n    .map(s => `<li>${esc(s)}</li>`).join('');\n  const p3 = `<div class=\"page\">${rhead('Family Financial Report')}\n    <div class=\"eyebrow\">Pillars 1 &amp; 2 · Protection</div><h2 class=\"sec-title\">How protected are you? <span class=\"guj\">— Ketla surakshit chho?</span></h2>\n    <p class=\"lede\">Two kinds of protection matter: <b>Life</b> (money your family receives if something happens to a member) and <b>Health</b> (cover for hospital &amp; medical bills). Here is where you stand today.</p>\n    <div class=\"panel\"><div class=\"panel-hd\">\n        <div><div class=\"k\">Life insurance · Jeevan Vima</div><h3>What your family receives, in-force</h3><div class=\"desc\">Money payable if something happens to a covered member.</div></div>\n        <div><div class=\"bignum\"><span class=\"cur\">₹</span>${grpIN(T.life_inforce)}</div>\n          <div class=\"rgt-note\">in-force base cover · ${T.inforce_pct}% of ${fmtIN(T.life_sa_total)} total<br>est. value incl. bonus (illustrated): <b>${shortIN(T.est_maturity_inforce)}</b></div></div></div>\n      <div class=\"bars\">${bars || '<div style=\"font-size:9px;color:var(--muted)\">No in-force life cover on record.</div>'}</div>\n      <div class=\"bars-note\">Bars show each member's in-force base life cover.${T.matured_total > 0 ? ' ' + shortIN(T.matured_total) + ' from ' + T.matured_count + ' ' + (T.matured_count === 1 ? 'policy has' : 'policies have') + ' already matured and been paid out.' : ''}</div></div>\n    <div class=\"gap-panel\"><div class=\"panel-hd\">\n        <div><div class=\"k\">Health insurance · Mediclaim / Aarogya Vima</div><h3>Cover for hospitalization &amp; medical bills</h3></div>\n        <div><div class=\"bignum\"><span class=\"cur\">₹</span>${grpIN(T.health_cover)}</div><div class=\"rgt-note\" style=\"color:#b07360\">${T.health_cover > 0 ? 'health cover on record' : 'no health policy on record'}</div></div></div>\n      ${T.health_cover > 0 ? '' : '<div class=\"gap-band\">No health cover on record' + (isSolo ? '' : ' — all ' + T.members + ' members') + '</div><div class=\"gap-msg\"><b>This is the clearest gap.</b> Medical and hospital bills are currently <b>not insured</b> — in Surat a single serious hospitalization can cost several lakhs. Worth reviewing a family floater with your CGPE adviser.</div>'}</div>\n    <div class=\"status-row\">\n      <div class=\"stile\"><div class=\"ic ${T.life_inforce > 0 ? 'ok' : 'no'}\">${T.life_inforce > 0 ? '&#10003;' : '&#10005;'}</div><div><div class=\"lab\">Life protection</div><div class=\"big\">${T.life_inforce >= 5000000 ? 'Strong' : T.life_inforce > 0 ? 'Moderate' : 'None'} · ${shortIN(T.life_inforce)}</div></div></div>\n      <div class=\"stile ${T.health_cover > 0 ? '' : 'gapt'}\"><div class=\"ic ${T.health_cover > 0 ? 'ok' : 'no'}\">${T.health_cover > 0 ? '&#10003;' : '&#10005;'}</div><div><div class=\"lab\">Health protection</div><div class=\"big\">${T.health_cover > 0 ? 'Covered · ' + shortIN(T.health_cover) : 'Gap · ₹0 on record'}</div></div></div></div>\n    <div class=\"review card mist grn-rule\"><div class=\"hd\">Points to review with your CGPE adviser <small>— information only, not financial advice</small></div><ul>${reviewItems}</ul></div>\n    ${rfoot(3, TOTAL)}</div>`;\n\n  // ===================== PAGE 4 — GROWING WEALTH =====================\n  const kNext = FP.next_year ? `<div class=\"kpi hl\"><div class=\"top\"></div><div class=\"kl\">Next money-back</div><div class=\"kv\">${FP.next_year}</div><div class=\"ks\">est ${shortIN(FP.next_amount_est)} (base ${shortIN(FP.next_amount)})</div></div>`\n    : `<div class=\"kpi hl\"><div class=\"top\"></div><div class=\"kl\">Next money-back</div><div class=\"kv\">—</div><div class=\"ks\">none upcoming on record</div></div>`;\n  const kpis4 = kNext\n    + `<div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">Coming back (est, in-force)</div><div class=\"kv grn\">${shortIN(T.est_maturity_inforce)}</div><div class=\"ks\">base ${shortIN(T.life_inforce)}</div></div>`\n    + `<div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">Already received</div><div class=\"kv\">${shortIN(T.matured_total)}</div><div class=\"ks\">${T.matured_count} matured ${T.matured_count === 1 ? 'policy' : 'policies'} (base)</div></div>`\n    + `<div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">You pay / year</div><div class=\"kv\">${shortIN(T.annual_premium)}</div><div class=\"ks\">recurring premium</div></div>`;\n  // chart from timeline\n  const tlShow = TL.slice().sort((a, b) => a.year - b.year).slice(0, 14);\n  const maxTl = Math.max(1, ...tlShow.map(t => t.amountEst || 0));\n  const cols = tlShow.map(t => {\n    const h = Math.max(3, (t.amountEst || 0) * 100 / maxTl).toFixed(1);\n    const big = (t.amountEst || 0) === maxTl;\n    const paid = t.matured;\n    return `<div class=\"col${big ? ' big' : ''}\"><div class=\"cval\">${chartVal(t.amountEst || 0)}</div><div class=\"cbar\" style=\"height:${h}%${paid ? ';background:#dfe3ec' : ''}\"></div></div>`;\n  }).join('');\n  const xax = tlShow.map(t => `<div class=\"xc\">${t.year}</div>`).join('');\n  const bigYears = (FP.big_years || []).filter(b => b && b.year);\n  const hl3 = (bigYears.length ? bigYears : [{ year: FP.next_year, amount: FP.next_amount_est }]).slice(0, 2).map((b, i) =>\n    `<div class=\"hcard\"><div class=\"y\">${b.year || '—'}</div><div class=\"v\">${shortIN(b.amount || 0)}</div><div class=\"c\">${i === 0 ? 'Largest estimated maturity year' : 'Second-largest maturity year'}</div></div>`).join('')\n    + `<div class=\"hcard\"><div class=\"y\">By ${FP.soon_by || (FP.next_year || '')}</div><div class=\"v\">${shortIN(FP.soon_total || 0)}</div><div class=\"c\">Near-term — goals &amp; reinvestment</div></div>`;\n  const p4 = `<div class=\"page\">${rhead('Family Financial Report')}\n    <div class=\"eyebrow\">Pillars 3 &amp; 4 · Growing your wealth</div><h2 class=\"sec-title\">Planning for life's big moments <span class=\"guj\">— Paisa kyare pacha aavse?</span></h2>\n    <p class=\"lede\">Your policies don't only protect — most return money on maturity. That money is the engine for life's goals. Estimated values include illustrated bonus per the CGPE plan library (not guaranteed).</p>\n    <div class=\"kpis k4\">${kpis4}</div>\n    <div class=\"subhd\">Which life goals this money can fund</div>\n    <div class=\"goals\">\n      <div class=\"gcard\"><div class=\"gi\">&#127891;</div><div class=\"gn\">Child education</div><div class=\"gg\">Bhanavtar</div><div class=\"gnote\">Fund from upcoming money-back maturities</div></div>\n      <div class=\"gcard\"><div class=\"gi\">&#128141;</div><div class=\"gn\">Child marriage</div><div class=\"gg\">Lagna</div><div class=\"gnote\">Near-term maturities can be timed to this</div></div>\n      <div class=\"gcard\"><div class=\"gi\">&#127774;</div><div class=\"gn\">Retirement income</div><div class=\"gg\">Nivrutti aavak</div><div class=\"gnote\">Later-year maturities build a retirement corpus</div></div>\n      <div class=\"gcard\"><div class=\"gi\">&#127795;</div><div class=\"gn\">Generational wealth</div><div class=\"gg\">Pedhi dar pedhi</div><div class=\"gnote\">${umangCount > 0 ? 'Jeevan Umang policies build next-gen wealth' : 'Add long-term plans for next-gen wealth'}</div></div></div>\n    <div class=\"chart-card\"><div class=\"chart-hd\">Your money-back timeline <small>Estimated, includes illustrated bonus · milestones by maturity year (not to time-scale)</small></div>\n      <div class=\"chart\">${cols || '<div style=\"font-size:9px;color:var(--muted);align-self:center\">No maturity timeline on record.</div>'}</div><div class=\"xaxis\">${xax}</div>\n      <div class=\"legend\"><div class=\"lg\"><span class=\"sw\" style=\"background:linear-gradient(180deg,var(--leaf),var(--forest))\"></span>Still to come (est)</div>\n        <div class=\"lg\"><span class=\"sw\" style=\"background:#dfe3ec\"></span>Already paid</div></div></div>\n    <div class=\"brow\"><div class=\"hl3\">${hl3}</div>\n      <div class=\"retire\"><div class=\"rh\">Retirement &amp; legacy</div><div class=\"rg\">Nivrutti aavak · long-term maturities</div><ul>\n        <li>Later-year maturities can be converted into a steady monthly income (annuity or systematic withdrawal) sized to living expenses.</li>\n        <li>The largest, farthest maturities are best treated as <b>legacy for the next generation</b>, not working-age income.</li>\n        <li>Review timing with your CGPE adviser as each maturity approaches.</li></ul></div></div>\n    ${rfoot(4, TOTAL)}</div>`;\n\n  // ===================== PAGE 5 — MEMBERS =====================\n  const mcards = M.map(m => {\n    const nb = m.next_maturity_year ? m.next_maturity_year + ' · ' + shortIN(m.next_maturity_est || m.next_maturity_amount || 0) : '—';\n    return `<div class=\"mcard slim\"><div class=\"mh\"><div class=\"av\">${initials(m.name)}</div>\n      <div><div class=\"mn\">${esc(m.name)}</div><div class=\"mm\">${m.age ? 'Age ' + m.age + ' yrs · ' : ''}${m.policies_count} ${m.policies_count === 1 ? 'policy' : 'policies'}</div></div></div>\n      <div class=\"mslim\">\n        <div class=\"f\"><div class=\"fl\">Life cover</div><div class=\"fv grn sm\">${shortIN(m.life_inforce || 0)}</div></div>\n        <div class=\"f\"><div class=\"fl\">Health</div><div class=\"fv clay\">${shortIN(m.health_cover || 0)}</div></div>\n        <div class=\"f\"><div class=\"fl\">Premium/yr</div><div class=\"fv sm\">${shortIN(m.annual_premium || 0)}</div></div>\n        <div class=\"f\"><div class=\"fl\">Next money-back</div><div class=\"fv sm\">${nb}</div></div></div></div>`;\n  }).join('');\n  const notes = (ai.data_notes && ai.data_notes.length ? ai.data_notes : defaultNotes(T)).map(s => `<p>${esc(s)}</p>`).join('');\n  const p5 = `<div class=\"page\">${rhead('Family Financial Report')}\n    <div class=\"eyebrow\">${isSolo ? 'Portfolio' : 'Family Members'}</div><h2 class=\"sec-title\">${isSolo ? 'Your protection at a glance' : \"Each person's protection\"} <span class=\"guj\">— ${isSolo ? 'Suraksha' : 'Darek sabhya ni suraksha'}</span></h2>\n    <p class=\"lede\">${isSolo ? 'Life cover, health cover, yearly premium and next money-back.' : 'A quick view of all ' + T.members + ' members — life cover, health cover, yearly premium and next money-back.'}</p>\n    <div class=\"mgrid slim\">${mcards}</div>\n    <div class=\"subhd\">${isSolo ? 'Totals' : 'Family totals'}</div><div class=\"kpis k5\">\n      <div class=\"kpi mistk\"><div class=\"top\"></div><div class=\"kl\">Members</div><div class=\"kv\">${T.members}</div><div class=\"ks\"></div></div>\n      <div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">Policies</div><div class=\"kv\">${T.policies}</div><div class=\"ks\">${T.inforce_count} in-force · ${T.matured_count} matured</div></div>\n      <div class=\"kpi mistk\"><div class=\"top\"></div><div class=\"kl\">Life cover (in-force)</div><div class=\"kv grn\">${shortIN(T.life_inforce)}</div><div class=\"ks\">est incl. bonus ${shortIN(T.est_maturity_inforce)}</div></div>\n      <div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">Health cover</div><div class=\"kv clay\">${shortIN(T.health_cover)}</div><div class=\"ks\">${T.health_cover > 0 ? 'on record' : 'none on record'}</div></div>\n      <div class=\"kpi\"><div class=\"top\"></div><div class=\"kl\">Premium / year</div><div class=\"kv\">${shortIN(T.annual_premium)}</div><div class=\"ks\">recurring</div></div></div>\n    <div class=\"card mist notes\" style=\"margin-top:12px\"><div class=\"hd\">Data notes</div>${notes}</div>\n    ${rfoot(5, TOTAL)}</div>`;\n\n  // ===================== PAGES 6+ — POLICY SCHEDULE =====================\n  const statusPill = (s) => s === 'Matured' ? '<span class=\"pill mat\">Matured</span>' : (s === 'Lapsed' ? '<span class=\"pill mat\">Lapsed</span>' : '<span class=\"pill inf\">In-force</span>');\n  const memberTable = (nm) => {\n    const rows = byMember[nm].slice().sort((a, b) => (a.matYear || 0) - (b.matYear || 0));\n    const body = rows.map(p => {\n      const plan = esc(p.planName || ('Table ' + p.tbl)) + (p.planConfirmed ? ' ' : ' <span class=\"dag\">&dagger;</span>');\n      return `<tr><td class=\"no\">${esc(p.policyNo)}</td><td>${plan}</td><td>${esc(p.type || 'Regular')}</td>`\n        + `<td class=\"sa r\">${fmtIN(p.sa)}</td><td class=\"est r\">${p.estMaturity ? fmtIN(p.estMaturity) : '—'}</td>`\n        + `<td class=\"prem r\">${p.single ? 'one-time' : fmtIN(p.perYear)}</td><td>${esc(p.matLabel || '—')}</td><td>${statusPill(p.status)}</td></tr>`;\n    }).join('');\n    return `<div class=\"tband sm\"><div class=\"tn\"><div class=\"av\">${initials(nm)}</div><div class=\"nm\">${esc(nm)}</div></div><div class=\"ct\">${byMember[nm].length} ${byMember[nm].length === 1 ? 'policy' : 'policies'}</div></div>\n      <table class=\"reg\"><thead><tr><th>Policy No</th><th>Plan</th><th>Type</th><th class=\"r\">Sum Assured</th><th class=\"r\">Est. Maturity*</th><th class=\"r\">Premium/Yr</th><th>Maturity</th><th>Status</th></tr></thead><tbody>${body}</tbody></table>`;\n  };\n  const howto = `<div class=\"card mist grn-rule howto\"><div class=\"hd\">How to read this report</div>\n    <p><b>Sum assured</b> — the base cover amount. <b>Est. maturity*</b> — base + illustrated bonus per the CGPE plan library; <b>not guaranteed</b>, actual depends on LIC declared bonuses.</p>\n    <p><b>&dagger;</b> — legacy plan table not yet confirmed; a default legacy bonus rate was used. Verify against the policy bond${T.unconfirmed_plans ? ' (' + T.unconfirmed_plans + ' such ' + (T.unconfirmed_plans === 1 ? 'plan' : 'plans') + ' in this ' + (isSolo ? 'portfolio' : 'family') + ')' : ''}.</p>\n    <p><b>In-force</b> — still active. <b>Matured</b> — completed and already paid out.</p></div>`;\n  const schedHtml = schedulePages.map((names, idx) => {\n    const pg = schedStart + idx;\n    const isLast = idx === schedulePages.length - 1;\n    const tables = names.map(memberTable).join('');\n    const heading = idx === 0\n      ? `<div class=\"eyebrow\">Policy Schedule</div><h2 class=\"sec-title\">Every policy, one by one <span class=\"guj\">— Badhi policy ni vigat</span></h2><p class=\"lede\">Grouped by ${isSolo ? 'policy' : 'family member'}. Verify each row against the physical policy bond.</p>`\n      : '';\n    return `<div class=\"page\">${rhead('Policy Schedule')}${heading}${tables}${isLast ? howto : ''}${rfoot(pg, TOTAL)}</div>`;\n  }).join('');\n\n  const body = cover + p2 + p3 + p4 + p5 + schedHtml;\n  return '<!doctype html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">'\n    + '<title>' + esc(shortHead(head)) + ' — Financial &amp; Insurance Report · CGP Enterprise</title>'\n    + '<style>' + CSS + '</style></head><body>' + body + '</body></html>';\n}\n\nfunction defaultInsights(T, FP) {\n  const out = [];\n  if (T.health_cover <= 0) out.push('No health cover is on record. Health insurance (Mediclaim) is separate from life cover, so this gap is worth reviewing first — a family floater is the usual starting point.');\n  out.push('The ' + (T.members > 1 ? 'family holds ' : 'portfolio holds ') + shortINp(T.life_inforce) + ' of in-force life cover across ' + T.inforce_count + ' active ' + (T.inforce_count === 1 ? 'policy' : 'policies') + ', with an illustrated maturity value of ' + shortINp(T.est_maturity_inforce) + '. Illustrated figures are not guaranteed; verify them against the policy bonds.');\n  if (T.unconfirmed_plans) out.push(T.unconfirmed_plans + ' legacy plan ' + (T.unconfirmed_plans === 1 ? 'mapping' : 'mappings') + ' still need policy-bond confirmation before the maturity figures can be relied on.');\n  if (FP && FP.soon_total) out.push(shortINp(FP.soon_total) + ' of money-back is estimated by ' + (FP.soon_by || FP.next_year) + ' — a natural moment to plan goals or reinvest with your CGPE adviser.');\n  return out;\n}\nfunction defaultNotes(T) {\n  const out = ['Precomputed aggregates were copied exactly as supplied and not recomputed.'];\n  out.push('Health / mediclaim: ' + (T.health_cover > 0 ? 'on record.' : 'none on record.') + ' Mutual fund / SIP: none on record.');\n  if (T.unconfirmed_plans) out.push(T.unconfirmed_plans + ' unconfirmed legacy plan mappings (the Tbl-series tables) are marked † and should be verified against the policy bonds.');\n  out.push('Illustrated maturity is base sum assured + illustrated bonus, and is larger than the base cover. Illustrated values are not guaranteed.');\n  return out;\n}\nfunction shortINp(n) { n = Number(n) || 0; if (n >= 1e7) return '₹' + (n / 1e7).toFixed(2) + ' Cr'; if (n >= 1e5) return '₹' + (n / 1e5).toFixed(2) + ' L'; return '₹' + Math.round(n).toLocaleString('en-IN'); }\n\n// ===================== n8n driver =====================\nconst src = $('Compute and Prompt').first().json;\nif (src.__error) return [{ json: { __error: src.__error } }];\nconst computed = JSON.parse(src.computedStr);\nconst pols = JSON.parse(src.polsStr);\nlet ai = {};\ntry {\n  let t = String(($input.first().json && $input.first().json.output) || '').trim();\n  t = t.replace(/^\\s*`{3}[a-z]*\\s*/i, '').replace(/`{3}\\s*$/, '').trim();\n  const a = t.indexOf('{'), b = t.lastIndexOf('}');\n  if (a >= 0 && b > a) t = t.slice(a, b + 1);\n  ai = JSON.parse(t);\n} catch (e) { ai = {}; }\nconst now = new Date();\nconst mmmD = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst genDate = ('0' + now.getDate()).slice(-2) + ' ' + mmmD[now.getMonth()] + ' ' + now.getFullYear();\nconst html = buildHtml(computed, pols, ai, genDate);\nconst T = computed.totals, M = computed.members, TL = computed.timeline, FP = computed.financial_planning, SC = computed.scorecard;\nconst reportId = 'CGPE-R-' + Date.now().toString(36).toUpperCase() + Math.floor(10 + Math.random() * 90);\nconst disclaimerText = 'Prepared by CGPE from supplied policy data. Cover figures are base sum assured; estimated values include illustrated bonus (not guaranteed). Verify against policy bonds. Information summary, not financial advice.';\nconst jsonStr = JSON.stringify({\n  family: { head: computed.familyHead, generated: genDate, currency: 'INR' },\n  totals: T, members: M, timeline: TL, financial_planning: FP, scorecard: SC,\n  insights: (ai.insights || []), data_notes: (ai.data_notes || []), disclaimer: disclaimerText\n});\nreturn [{ json: {\n  reportId, familyHead: computed.familyHead, html, jsonStr, createdAt: now.toISOString(),\n  summary: { members: T.members, policies: T.policies, life_inforce: T.life_inforce, est_maturity_inforce: T.est_maturity_inforce, health_cover: T.health_cover, next_year: FP.next_year, next_amount: FP.next_amount, next_amount_est: FP.next_amount_est, annual_premium: T.annual_premium, unconfirmed_plans: T.unconfirmed_plans },\n  publicBaseUrl: src.publicBaseUrl,\n  __fields: 'reportId,familyHead,html,jsonStr,createdAt'\n} }];"
      },
      "id": "5db6efc3-f724-451d-8e94-c46229d17584",
      "name": "Validate and Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        112
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "reports",
        "fields": "={{ $json.__fields }}",
        "options": {}
      },
      "id": "8af49706-6da3-4460-a4d1-64fe31bafe48",
      "name": "Save Report",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        2368,
        112
      ],
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const v = $('Validate and Render').first().json;\nif (v.__error) return [{ json: { ok: false, error: v.__error } }];\nconst viewUrl = v.publicBaseUrl + '/cgpe-report?id=' + v.reportId;\nreturn [{ json: { ok: true, reportId: v.reportId, familyHead: v.familyHead, url: viewUrl, pdfUrl: viewUrl + '&pdf=1', summary: v.summary, note: 'ALWAYS share pdfUrl with the sender (opens print-ready PDF). Quote only these summary numbers.' } }];"
      },
      "id": "3baef501-d6d6-4488-b7a1-aa086d6ae5f3",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        112
      ]
    },
    {
      "parameters": {
        "collection": "lic_plans_library",
        "options": {
          "limit": 100
        },
        "query": "={{ JSON.stringify({ $or: [ { plan_table: { $in: $('Find Family Rows').all().map(i => String((i.json || {}).tableNo || '')).filter(t => t) } }, { docType: 'meta' } ] }) }}"
      },
      "id": "35e941b9-4356-4f47-a484-f49421350d3c",
      "name": "Find Plan Library",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        1408,
        512
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "mongoDb": {
          "id": "WZ2iSk9j0aJMoLDk",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Report Input": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Find Seed Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Seed Client": {
      "main": [
        [
          {
            "node": "Build Family Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Family Query": {
      "main": [
        [
          {
            "node": "Find Family Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Family Rows": {
      "main": [
        [
          {
            "node": "Find Extra Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Report Config": {
      "main": [
        [
          {
            "node": "Compute and Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute and Prompt": {
      "main": [
        [
          {
            "node": "Report Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Writer": {
      "main": [
        [
          {
            "node": "Validate and Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Writer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Report Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Render": {
      "main": [
        [
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Extra Policies": {
      "main": [
        [
          {
            "node": "Find Plan Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Plan Library": {
      "main": [
        [
          {
            "node": "Load Report Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "c2284cc2-50bd-4b21-8120-9647e713ed10",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "b51c561a1f913d126dd565a961c174df11effac1c85079f2a730449a45fbe676"
  },
  "nodeGroups": [],
  "id": "5POkiNLDhKOuVadg",
  "tags": []
}